/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* end reset */

/* common styles */
.py-38 {
  padding: 38px 0;
}



/* end common styles */

.header .container {
  display: flex;
  width: 1830px;
  align-items: center;
}

.header-logo {
  margin-right: 46px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: 32px;
}

.header-list-item {
  display: flex;
}

.header-list-link {
  padding: 38px 0;
}

.header-socials {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 32px;
}

.header-socials-item {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section {
  padding: 150px 0;
}

.second-section-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.second-section-image {
  margin-bottom: 26px;
}

.second-item-heading {
  margin-bottom: 11px;
}

.second-item-description {
  margin-bottom: 30px;
}

.thirst-section {
  background-color: #EBF3F5;
}

.thirst-section .container {
  padding-bottom: 150px;
  padding-top: 150px;
  display: flex;
  gap: 150px;
}



.block-left {}

.thirst-section-uptitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
  margin-bottom: 9px;
}

.thirst-section-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #141414;
  margin-bottom: 16px;
}

.thirst-section-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  color: #555;
  margin-bottom: 37px;
}



.thirst-section-icon {
  margin-bottom: 14px;
}

.thirst-section-item-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #141414;
}

.thirst-section .block-right {
  position: relative;
}

.block-right {}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  color: #2E2F42;
}

.modal-close-btn:hover {
  background-color: #404bbf;
  color: #fff;
  border: none;

}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

}

.hide {
  display: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.second-section-list {
  width: 100%;
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.thirst-section .block-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

.thirst-section .block-right {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.thirst-section .container {
  flex-direction: column;
  gap: 40px;
}

.thirst-section-img {
  width: 100%;
  display: block;
  z-index: 1;
  position: relative;
}

.thirst-section .block-right::before {
  content: "";
  width: 405px;
  height: 500px;
  background-color: #84A8B2;
  display: block;
  position: absolute;
  top: -38px;
  right: -48px;
  display: none;
}

.thirst-section-list-item {
  display: flex;
  border: 1px solid #1e2c30;
  padding: 21px 11px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thirst-section-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (min-width:320px) {
  .container {
    min-width: 320px;
  }

  .second-section-list {
    margin: 0 auto;
    max-width: 400px;
  }

  .thirst-section-list {
    margin: 0 auto;
    max-width: 400px;
  }
}

@media (min-width:768px) {
  .container {
    min-width: 768px;
  }

  .second-section-list {
    margin: 0 auto;
    max-width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .second-section-item {
    max-width: calc((100% - 35px) / 2);
  }

  .thirst-section-list {
    margin: 0 auto;
    max-width: 100%;
    flex-direction: row;
    gap: 10px;
  }

  .thirst-section-list-item {
    max-width: calc((100% - 20px) / 3);
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .second-section-list {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .second-section-item {
    max-width: calc((100% - 35px*2) / 3);
  }

  .thirst-section .block-right::before {
    display: block;
  }

  .thirst-section .container {
    flex-direction: row;
    gap: 105px;
  }
}